.menu {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
     display: flex; 
    justify-content:space-between;
   
     
}
.menu a{
    color:
     white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    
}


.cabecalho {
    width: auto;
    
    align-items: center;
    background-color: #ad0a0a;
    color: white;           
    padding: 30px;;
}

.texto{
    text-align: center;
    


}

H1{
    color: #d60a0a;
    
}

img{
    width: 700PX;
    height: 500PX;
    align-items: center;
    margin-top: 10px;
    border: #d60a0a dashed 1px;
     padding: 10px;

  margin-left: 300px;  /* Move para a direita */
  margin-top: 50px;   /* Move para baixo */



}

.menu a {
  display: inline-block;
  padding: 10px 20px;
 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}
body{
    background-color: #cccccc;
    
    }
