.menu {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
     display: flex; 
    justify-content:space-between;
   
     
}
.enu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}



.cabecalho {
    width: auto;
    
    align-items: center;
    background-color: #ad0a0a;
    color: white;
    padding: 30px;;
}

.texto{
    text-align: center;
    


}

H1{
    color: #d60a0a;
}

.menu a {
  display: inline-block;
  padding: 10px 10px;
 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}



section {
    margin: 20px;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


.car {
    
    display: inline-block;
    width: 300PX;
    margin: 40px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
    
}

.imagem{
    border-radius: 50px;
    
}

body{
background-color: #cccccc;

}
