body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.cabecalho {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004080;
    color: white;
    padding: 15px 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-right: 0px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;


}


.menu ul li {
    margin-left: 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #85cffa;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
