body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.cabecalho {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004080;
    color: white;
    padding: 15px 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-right: 0px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;


}

.menu ul li {
    margin-left: 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #85cffa;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

h1 {
  text-align: center;
  color: #333;
}

#searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#productList {
  list-style: none;
  padding: 0;
}

#productList li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

#productList li:last-child {
  border-bottom: none;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    width: 1500px;
    bottom: 0;
}
