body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004080;
    color: white;
    padding: 15px 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-right: 0px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu ul li {
    margin-left: 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #85cffa;
}
/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    background-color:#004080;;
    color: #fff;
    padding: 0px;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Seções de produtos */
section {
    margin: 20px;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo dos produtos */
.product {
    display: inline-block;
    width: 22%;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 50%;
    height:auto;
    border-radius: 5px;
}

.product h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.product p {
    margin: 5px 0;
    color: #666;
}

.product .price {
    font-size: 1.4em;
    color: #e74c3c;
    font-weight: bold;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
