body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}