header {
    width: 100%;
    padding: 20px;
    text-align: center;
}
button {
    border-radius: 5px;
    background: #333;
    border: none;
    color: white;
    padding: 10px;
    margin-top: 10px;
    
    cursor: pointer;
  }
  
  button:hover {
    background: #ead6d688;
    color: #080144;
  }