.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  border-radius: 80px;
}

.header img {
  width: 170px;
  height: 170px;
}

.header input {
  padding: 8px;
  width: 300px;
  background-color: #1e1e1e;
  border: none;
  color: white;
}