.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #1e1e1e;
  padding: 20px;
  position: fixed;
}

.sidebar p {
  padding: 10px;
}

.sidebar a { 
    color: #f3eeee;
    text-decoration: none;
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
}

.sidebar a:hover {
  background-color: #ead6d688;
  color: #080144;
}

.sidebar h3 {
  margin-top: 30px;
  font-size: 16px;
}

.sidebar button {
  border-radius: 5px;
  background: #333;
  border: none;
  color: white;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
}

.sidebar button:hover {
  background: #333;
}