body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212; /* fundo escuro */
  color: #f0f0f0; /* texto claro */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
