.developer-card {
  background-color: #1e1e1e; /* card escuro */
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  width: 250px;
  text-align: center;
  padding: 25px 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.developer-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
}

.developer-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid #162194; /* borda destacada */
}

.developer-card h3 {
  margin: 10px 0 5px 0;
  color: #162194;
}

.developer-card p {
  color: #ccc;
  font-size: 14px;
  line-height: 1.5;
}
